/* ############################
 * ############################
 * EDITIONS view properties 
 * ###########################*/

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  /* opacity: 0; */
  width: 0;
  height: 0;
}

/* The slider */
.i-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.i-slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .i-slider {
}

input:focus + .i-slider {
  box-shadow: 0 0 1px #f1f1f1;
}

input:checked + .i-slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.i-slider.round {
  border-radius: 20px;
}

.i-slider.round:before {
  border-radius: 50%;
}

/* inline elements */

.unclear[alt]::after {
  opacity: 0;
  content: "";
}

.unclear[alt] {
  position: relative;
  /*text-decoration: underline dotted;*/
}

.unclear[alt]:hover::after,
.unclear[alt]:focus::after {
  content: attr(alt);
  position: absolute;
  left: -50px;
  top: 25px;
  width: auto;
  white-space: nowrap;
  background-color: #f1f1f1;
  border-radius: 0.25rem;
  font-size: 16px;
  padding: 3px 5px;
  z-index: 99;
  transition: opacity 0s linear 1s;
  opacity: 1;
}

.strikethrough {
  text-decoration: line-through;
}

.whitespace {
}

/* .underline {
  text-decoration: underline;
} */

.italic {
  font-style: italic;
}

.italic.underline {
  text-decoration: underline;
  font-style: normal;
}

.red {
  background-color: #ffe6e6;
}

.blue {
  background-color: #e1d4ff;
}

.white {
  background-color: #ffffff;
}

.grey {
  background-color: #f1f1f1;
}

.green {
  background-color: #c9ffcf;
}

.au-brown {
  background-color: #b59890;
}

.i-slider.pink {
  background-color: #ffa7f7;
}

.i-slider.gold {
  background-color: #ffdc6e;
}

.i-slider.turquoise {
  background-color: #a4f1fd;
}

.i-slider.lila {
  background-color: #daa4fd;
}

.i-slider.lime {
  background-color: #dbff8d;
}

.wrk {
  font-weight: bold;
}

.orgs {
  font-weight: bold;
}

.eve {
  font-weight: bold;
}

.pers {
  font-weight: bold;
}

.plc {
  font-weight: bold;
}

.light-grey {
  color: #dadada;
}

.int::after {
  content: url("../images/icons/chat-right-quote.svg");
  background-color: #b59890;
  border-radius: 0.5rem;
  padding: 0.05em;
}

.qte::after {
  content: url("../images/icons/quote.svg");
  background-color: #dadada;
  border-radius: 0.5rem;
  padding: 0.05em;
}

.wrk::before {
  content: url("../images/icons/book.svg");
  background-color: #a4f1fd;
  border-radius: 0.5rem;
  padding: 0.05em;
}

.orgs::before {
  content: url("../images/icons/building.svg");
  background-color: #daa4fd;
  border-radius: 0.5rem;
  padding: 0.05em;
}

.eve::before {
  content: url("../images/icons/calendar-event.svg");
  background-color: #dbff8d;
  border-radius: 0.5rem;
  padding: 0.05em;
}

.pers::before {
  content: url("../images/icons/person-fill.svg");
  background-color: #ffa7f7;
  border-radius: 0.5rem;
  padding: 0.05em;
}

.plc::before {
  content: url("../images/icons/geo-alt-fill.svg");
  background-color: #ffdc6e;
  border-radius: 0.5rem;
  padding: 0.05em;
}

.slider-number::after {
  content: "(" attr(data) ")";
  color: #444;
  display: block;
  width: 40px;
  position: absolute;
  left: 3.5em;
}

.editor-btns {
  border-radius: 0.25rem;
}

.editor-btns li {
  display: inline;
  max-width: 50px;
  color: #fff;
}

.editor-btns-wrapper {
  padding: 0.1em 0.5em !important;
  margin: 0 !important;
}

.editor-back-link {
  padding: 0.1em 0.5em !important;
  margin: 0 !important;
}

.btn-back-link {
  color: #fff;
  text-align: left;
}

.btn-back-link:hover {
  color: #b59890;
}

.editor-options {
  display: flex;
  border-radius: 0.25rem 0.25rem 0 0;
  background-color: #615a60;
  justify-content: space-between;
}

.img-viewer-btn {
  cursor: pointer;
}

.img-viewer-btn.active {
  color: #b59890 !important;
}

.window-screen-btn.active {
  color: #b59890 !important;
}

#clear-link {
  padding: 0.5em 1em;
}

.badge-item {
  border-radius: 0.25rem;
}

.pagination-link {
  background-color: transparent !important;
}

.nav-link.active {
  background-color: #b59890 !important;
  color: #fff !important;
}

.nav-link.btn.active {
  background-color: #b59890 !important;
}

/*.nav-link.btn {
    background-color: transparent !important;
}*/

.nav-link {
  border-color: transparent !important;
}

.nav-link.btn-backlink {
  background-color: transparent !important;
}

/* font styles and sizes */

.times-new-roman {
  font-family: "Times New Roman", serif !important;
}
.courier-new {
  font-family: "Courier New", monospace !important;
}

.arial-serif {
  font-family: "Arial", serif !important;
}

.handwritten {
  font-family: "Times New Roman", serif;
}
.typed {
  font-family: "Courier New", monospace;
}

.printed {
  font-family: "Arial", serif;
}

.handwritten {
  font-size: 22px;
}

.typed {
  font-size: 18px;
}

.printed {
  font-size: 18px;
}

.font-size-26 {
  font-size: 26px !important;
}

.font-size-22 {
  font-size: 22px !important;
}

.font-size-18 {
  font-size: 18px !important;
}

.font-size-14 {
  font-size: 14px !important;
}

.font-dropdown {
  border-radius: 0.25rem;
  font-size: 13px;
}

#aot-navbarNavDropdown {
  text-align: center !important;
}

#aot-navbarNavDropdown li {
  width: 100% !important;
  border: none !important;
  padding: 0.3em !important;
}

.edition-doc-search {
  font-size: 13px;
}

.edition-doc-search input {
  border-radius: 0.25rem;
}

annotation-slider {
  display: flex;
  justify-content: space-between;
}

annotation-slider label {
  margin-left: 2em;
}

.aot-list {
  margin: 0 auto;
  display: inline-grid;
  width: 25%;
  justify-content: space-evenly;
}

.switch input {
  visibility: hidden;
}

/* entities */
.entity,
.ent {
  cursor: pointer;
}

.entity-table {
  margin: 4em auto;
}

.entity-table tbody tr td,
.entity-table tbody tr th {
  border: none;
}

.entity-table tbody tr th {
  border-right: 1px solid lightgrey;
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 992px) {
  .aot-list {
    margin: 0 auto;
    display: inline-grid;
    width: 100%;
    justify-content: space-evenly;
    padding: 1em 0;
    border-bottom: 2px dashed lightgrey;
  }
}
