body {
    /*background: url("../images/letter-background.png") 0 0 repeat;*/
}

/*.card-header {
    background: url("../images/letter-background.png") 0 0 repeat;    
}

.card-footer {
    background: url("../images/letter-background.png") 0 0 repeat;
}*/

.fade {
    display: none;
}

#wrapper-hero > .row {
    padding-top: 2em;
/*    background: url("../images/letter-background.png") 0 0 repeat;*/
}

/* Datatables, provided by https://github.com/babslgam */

div.dataTables_wrapper div.dataTables_filter input {
    display: block;
    margin-left: 0;
}

div.dataTables_filter {
  text-align:left !important;
}

.arrow {
    max-width: 25px;
}

.dataTables_wrapper table {
  width:100%;
}

.dataTables_info {
  text-align: center;
}

.btn-link {
  font-size:20px;
}

.exportbuttons {
  text-align: right;
}

/* main navigation */

.navbar {
    border-bottom: 5px solid #615a60 !important;
    /*border-bottom: none !important;*/
    background-color: #fff;
}

.navbar-collapse {
    margin-left: 2em;
}

.navBarLetters {
    margin: 1em auto;
    border: 0 !important;
}

.nav-tabs {
    border: 0;
}

.nav-link {
    border-color: transparent !important;
}


.navbar .navbar-collapse .navbar-search {
    border-color: #b59890;
    border-radius: .25rem;
}

.navbar .navbar-collapse .navbar-search:hover {
    border-color: #615a60;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

/**** Font Aweseome ***/
.far {
    font-family: "Font Awesome 5 Free" !important;
}

.img-fluid {
    max-width: 160% !important;
    max-height: 160% !important;
}

.card {
    margin-top: 1em;
    box-shadow: 4px 4px 9px 0 rgba(0, 0, 0, .1);
    border-radius: .5rem;
}

.index-card > .card-body {

}

.index-card {
    border-top: 5px solid #615a60;
    /*opacity: .6;*/
    transition: transform .2s;
}

.index-card:hover {
    transform: scale(1.02);
}

.index-link:hover {
    text-decoration: none !important;
}

/* timeline auden biography */

/* js-timeline */


#exampleModalLong {
    background-color: rgba(0, 0, 0, .6);
}

.timeline-modal {
    background-color: transparent;
    border: 0;
}

.tei-logo {
    margin-top:2em;
    padding-right:1em;
}

button.close {
    color: #fff;
}

.timeline-dots button {
    color: #f1f1f1;
}

.timeline-dots li.slide-active button {
    color: #b59890;
}

.timeline-list {
    margin: 0 auto;
    border-radius: .5rem;
}

.timeline-dots-wrap.bottom {
    bottom: -60px;
}

.timeline-item {
    background-color: #ddd;
    /*border-radius: .5rem;*/
}

.timeline-horizontal .timeline-dots-wrap {
    height: 60px;
}

#timeline-heading {
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    color: #fff;
    background-color: #615a60;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 6px solid #b59890;
    z-index: 2;
    box-shadow: 0 0 0 4px rgba(0, 0, 0, .1);
    transition: transform 1s;
}

#timeline-heading:hover {
    transform: scale(1.05);
}

.timeline > .col-md-5 {
    z-index: 1;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #ccc;
    left: 50%;
    margin-left: -1.5px;
    z-index: 0;
}
.timeline-panel-left {
    margin-top: .5em;
    border:1px solid #ccc;
    /*border-bottom: 5px solid #615a60;
    border-top: 5px solid #615a60;*/
    transition: transform .2s;
    font-size: 12px;
}

.timeline-panel-right {
    margin-top: .5em;
    border:1px solid #ccc;
    /*border-bottom: 5px solid #615a60;
    border-top: 5px solid #615a60;*/
    transition: transform .2s;
    font-size: 12px;
}

/*.timeline-panel-right > .card-body {
    max-height: 58px;
    overflow: hidden;
}

.timeline-panel-left > .card-body {
    max-height: 58px;
    overflow: hidden;
}*/


/*.timeline-panel-right > .card-body {
    display: none;
    visibility: hidden;
    opacity: 0;
    transition: visibility 2s, opacity 1s linear, display 2s;
}

.timeline-panel-left > .card-body {
    display: none;
    visibility: hidden;
    opacity: 0;
    transition: visibility 2s, opacity 1s linear, display 2s;
}

.timeline-panel-left:hover > .card-body {    
    visibility: visible;
    opacity: 1;
    display: block;
}

.timeline-panel-right:hover > .card-body {    
    visibility: visible;
    opacity: 1;
    display: block;
}*/

.timeline-panel-right:hover, .timeline-panel-left:hover {
    transform: scale(1.02);
}

.timeline-panel-left::before {
    position: absolute;
    top: 5px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}

.timeline-panel-right::before {
    position: absolute;
    top: 5px;
    left: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-right: 15px solid #ccc;
    border-left: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}

.timeline-circle {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10px;
    height: 10px;
    margin: auto;
    margin-top: 1em;
    color: #615a60;
    background-color: #615a60;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 6px solid #b59890;
    z-index: 2;
    box-shadow: 0 0 0 4px rgba(0, 0, 0, .1);
    transition: transform .1s;
}

.timeline-circle:hover {
    transform: scale(1.05);
}

/* leaflet */

.leaflet-maps {
    height: 200px;
    margin-top: 1em;
    border-radius: 1rem;
    border: 2px solid rgba(0, 0, 0, .1);
}

.leaflet-maps-modal {
    height: 200px;
    margin-top: 1em;
    border: 1px solid #000;
}

/* slider button */
.btn-round {
    border: 1px solid #000;
    color: #615a60;
}

.btn-round:hover {
    background-color: #b59890;
    color: #fff;
}

.btn-round a {
    color: #615a60;
}

.btn-round a:hover {
    color: #fff;
}

a:hover {
    text-decoration: none; 
    color: #b59890;
}

a {
    color: #615a60;
}


p {
    display: block;
}

.card-header > p, .card-body > p {
    /*padding: 1em;*/
}

h4 {
    text-align:center;
}

.nav-link {
    color: #615a60 !important;
}

.nav-link:hover, #ssDoSearch:hover {
    color: #b59890 !important;
}

a.btn-round:hover {
    color: #fff !important;
}
/* table of content buttons in nav */
.btn-round.active {
    background-color: #b59890 !important;
}

.btn-round.active.nav-link {
    color: #fff !important;
}

.btn-backlink {
    background-color: transparent !important;
    border: none !important;
    padding: .3em 1.5em !important;
}

.btn-round.btn-backlink:hover {
    background-color: transparent !important;;
    border: none !important;
    color: #b59890 !important;
}

.container-fluid {
    max-width: 1024px;
}

/* Index Carousel / Slider */

#wrapper-hero {
    background-color: #fff;
}

#wrapper-hero-inner {
    padding: 0 3em;
}

#wrapper-hero-inner p {
    font-size:18px;
    line-height:27px;
    color:#615a60;
}

#audenIndexCarousel {
    max-width: 100%;
/*    padding: 2.5em 2em;*/
}

#carousel-body {
    background-color: #fff;
    /*box-shadow: 4px 4px 9px 0 rgba(0, 0, 0, .1);*/
    /*border-radius: .5rem;*/
    padding: 0;
    margin: 0;
    /*border-bottom: 5px solid #615a60;*/
    /*border-top: 5px solid #615a60;*/
}

#carousel-card {
    background-color: transparent;
    margin-top: 1em;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
}

.carousel .carousel-inner .carousel-item {
/*    max-width: 80%;*/
    background-color:transparent;
    height: auto;
    /*margin-top: 1.5em;*/
}

/* staticSearch */

span.ssQueryAndButton {
    margin: 2em auto 0.25em auto;
    max-width: 50%;
    width: 50%;
}

input#ssQuery {
    font-size: .9rem;
    border-radius: .25rem;
    padding: .3rem 1.75rem .3rem .75rem;
    border: 1px solid rgba(38, 35, 37, 0.075);
    background-color: #fff;
    color: rgba(0,0,0,.9);
}

input#ssQuery:hover {
    border: 1px solid #b59890;
}

button#ssDoSearch {
    border: 0;
    padding: 0 ;
    background: 0 0;
    cursor: pointer;
    color: rgba(38, 35, 37, 0.6);
    margin-left: -4.1em;
    margin-right: -.25em;
    margin-top: .1em;
    z-index:99;
}

form button svg {
    color: #b59890;
}

form button svg:hover {
    color: #615a60;
}

li > label {
    text-transform:capitalize !important;
    margin-left: .5em !important;
}

.filters input {
    width:100%;
    padding: 3px;
    box-sizing: border-box;
  }

.navbar-search-icon {
    margin-top: .3em;
}

#ac-select-all:hover, #searchInfoModalButton svg:hover {
    color: #b59890;
    cursor: pointer;
}

#ssDoSearch2, #ssClear, #ssShowMore, #ssShowAll {
    border: 1px solid #615a60;
    border-radius: .25rem;
    margin-bottom: 2em;
    padding: .1em .8em;
    background-color: transparent;
    color: #000;
}

#ssDoSearch2:hover, #ssClear:hover, #ssShowMore:hover, #ssShowAll:hover {
    background-color: #b59890;
    color: #fff;
    border: 1px solid #fff;
}

fieldset.ssFieldset > span {
    background-color: #b59890;
    border: 1px solid #615a60;
    border-radius: .25rem;
}

fieldset.ssFieldset > span > input {
    border: 1px solid #615a60;
    border-radius: .25rem;
    margin-left: .3em;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#ac-panel::-webkit-scrollbar {
  display: none !important;
}

/* Hide scrollbar for IE, Edge and Firefox */
#ac-panel {
    display:block;
    position:absolute;
    min-height:50px;
    max-height:200px;
    overflow:scroll;
    margin: 4.5em 24%;
    max-width: 50%;
    width: 50% ;
    font-size: .9rem;
    border-radius: 0 0 .25rem .25rem ;
    padding: 0.3rem;    
    color: rgba(0,0,0,.9);
    -ms-overflow-style: none;  /* IE and Edge */
}

.ac-border {
    background-color: rgba(38, 35, 37, 0.075);
    border: 1px solid rgba(38, 35, 37, 0.075) !important;
    border-top: 3px solid rgba(38, 35, 37, 0.075) !important;
}

.ac-border2 {
    border: 1px solid rgba(38, 35, 37, 0.075) !important;
    border-bottom: 3px solid rgba(38, 35, 37, 0.075) !important;
    border-radius: .25rem .25rem 0 0 !important;
}

.stem {
    padding: .3em;
    cursor: pointer;
}

.stem:hover {
    background-color: rgba(38, 35, 37, 0.3);
    border-radius: .25rem;
}

#github-logo {
    width: 10%;
    height: auto;
    padding: 10px 0 10px 0;
    transition: transform .2s;
    margin-left: 1em;
}

#github-logo:hover {
    transform: scale(1.05);
}

#twitter-logo {
    width: 10%;
    height: auto;
    padding: 12px 0 10px 20px;
    transition: transform .2s;
    margin-left: 1em;
}

#twitter-logo:hover {
    transform: scale(1.05);
}

.grid {
    margin-top: 1em;
}
.grid-item,
.grid-sizer {
    width: 31.5%;
}
.grid-item {
  float: left;
  margin: .5em;
  background: #fff;
  height: auto;
}

/* display transcripts text */

.transcript {
    padding: 0 !important;
    border-top: 5px solid #b59890 ; 
    border-bottom: 5px solid #b59890 ;
}

div.text-re {
    display: flex;
    align-items: center;
}

div.text-re div.card-body {
    display: grid;
    justify-content: center;
}

/* expanding and descreasing osd images */
.expand-wrapper {
    margin: 1em;
}

.img-expand:hover {
    transform: scale(1.2);
}

.img-decrease:hover {
    transform: scale(.8);
}

.img-expand {
    display:block;
}

.img-decrease {
    display:none;
}

.tab-pane > .tab-content {
    border: 1px solid #b59890;
    margin: 0 .5em;
    border-radius: .5rem;
}

.pagination-top > .pagination {
    margin: 2em auto 0 auto;
    text-align:center;
    display:block;    
}
.pagination .nav .nav-item .nav-link {

}

.pagination-top > .pagination .nav {
    display: inline-flex !important;
    padding: .5em;
    z-index: 99;
}

.pagination-bottom > .pagination {
    margin: 0 auto 2em auto;
    text-align:center;
    display:block;    
}

.pagination-bottom > .pagination .nav {
    display: inline-flex !important;
    padding: .5em;
    z-index: 99;
}

/* ############################
 * ############################
 * EDITIONS view properties 
 * ###########################*/

.fade-all {
    display: none;
}

.unclear[title] {
    position: relative;
    text-decoration: underline dotted;
}

.unclear[title]:hover::after,
.unclear[title]:focus::after {
    content: attr(title);
    position: absolute;
    left: 0;
    width: auto;
    white-space: nowrap;
    background-color: #f1f1f1;
    border-radius: .25rem;
    font-size: 16px;
    padding: 3px 5px;
    z-index: 99;
}

.strikethrough {
    text-decoration: line-through;
}

.reading-view-font {
    font-family: "Times New Roman", serif !important;
    font-size: 22px !important;
}

.underline {
    text-decoration: underline;
}

.italic {
    font-style: italic;
}

.red {
    background-color: #ffe6e6;
}

.blue {
    background-color: #e1d4ff;
}

.white {
    background-color: #ffffff;
}

.yellow {
    background-color: #faf8ca;
}

.green {
    background-color: #c9ffcf;
}

.badge-item {
    border-radius: .25rem;
}

.badge-link {
    border-radius: .25rem;
    padding: .2em;
    margin: 0 .5em;
}


/* XML raw style */
.tnc {
    color: brown;
}
.tc {
    color: #0000cd;
}
.xml-prev {
    white-space: pre;
    text-indent: initial;

}
.xml-viewarea {
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    max-width: 1920px;
    overflow: scroll;
}
.xml-view {
    /*position: absolute;*/
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.linescroll, .scroll-content>div {
    /*position: absolute;*/
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
}
.ac {
    color: red;
}

.avc {
    color: #0000cd;
}

/*media queries for responsive design on smartphones*/
/*                                                  */
/*                                                  */
/* Small devices (landscape phones, 576px and up) */ 
@media (max-width: 576px) {
    #audenIndexCarousel {
        max-width: 100%;
        padding: 0;
    }
    #wrapper-hero{
        padding-bottom: 2em;
    }
    #ac-panel {
        display:block;
        position:relative;
        min-height:50px;
        max-height:200px;
        margin: 0 0 2em 5%;
        max-width: 97%;
        width: 97% ;
        font-size: .9rem;
    }
    span.ssQueryAndButton {
        margin: 2em auto 0 auto !important;
        max-width: 90%;
        width: 90%;
    }
    #ac-panel-many .col-md-4 {
        max-width: 100%;
    }
    #stems-many {
        max-width: 100%;
    }
    .navbar-collapse {
        margin: 0;
    }
    #footer-full-content {
        max-width: 98%;
    }
    .navbar-collapse {
        margin: 0;
    }   
    #twitter-logo {
        padding: 12px 0 10px 0px;
    }
    .expand-wrapper {
        display: none;
    }
    .pagination .nav {        
        margin: 0 1em;
        margin-bottom:-2px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) { 
    #audenIndexCarousel {
        max-width: 100%;
        margin: 0 auto;
    }    
    #wrapper-hero-inner {
        margin-bottom: 1em;
        padding: 0;
    }
    #ac-panel {
        display:block;
        position:relative;
        min-height:50px;
        max-height:200px;
        margin: 0 0 2em 5%;
        max-width: 93%;
        width: 93% ;
        font-size: .9rem;
    }
    span.ssQueryAndButton {
        margin: 2em auto 0 auto !important;
        max-width: 90%;
        width: 90%;
    }
    #ac-panel-many .col-md-4 {
        max-width: 100%;
    }
    #stems-many {
        max-width: 100%;
    }
    #footer-full-content {
        max-width: 98%;
    }
    .navbar-collapse {
        margin: 0;
    } 
    #twitter-logo {
        padding: 12px 0 10px 0px;
    }
    .expand-wrapper {
        display: none;
    }
    .timeline-panel-left:before {
        display: none;
    }
    .timeline-panel-right:before {
        display: none;
    }
}

@media (max-width: 1024px){   
    #audenIndexCarousel {
        max-width: 100%;
        padding: 0;
    }    
    #wrapper-hero-inner {
        margin-bottom: 1em;
        padding: 0 2em;
    }
    .navbar-collapse {
        margin: 0;
    }
}

/* Large devices (desktops, 992px and up) */
/*@media (min-width: 992px) {  }*/

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {    
    #audenIndexCarousel {

    }    
    #wrapper-hero-inner {
        margin-bottom: 1em;
        padding: 0 2em;
    }
}

/* Extra large devices (large desktops, 1680px and up) */
@media (max-width: 1680px) {      
    #audenIndexCarousel {
        max-width: 100%;

    }
    #wrapper-hero-inner {
        margin-bottom: 1em;
        padding: 0 2em;
    }
}